# Ignore Everything
/*

# Include Git Stuff
!.gitignore
!.gitmodules

# Include Vim Stuff
!.vimrc
!.vim/
# Nuke Vim Plugged though...
.vim/plugged/

# Exclude Vim Plugged
.vim/plugged/

# Include Tmux Stuff
!.tmux.conf

# Include Scripts
!scripts/

# Include 
!.ssh/config

# Include texmf
!texmf/
